.contentWrapper {
     background: url('/assets/images/blueCircle.png') no-repeat,
          url('/assets/images/blueCircle.png') no-repeat;
     background-size: 300px,
          350px;
     background-position: 75% 80%,
          -5% 95%;
}

.moreHeight {
     line-height: 2rem;
     max-height: 4rem;
     overflow: hidden;
}