.landingWrapper {
     min-height: 120vh;
     height: 120vh;
     background: url('/assets/images/blueCircle.png') no-repeat,
          url('/assets/images/blueCircle.png') no-repeat,
          white;
     background-position: -4% 20%,
          45% 70%,
          center center;
     background-size: 250px, 200px, cover;
     display: flex;
     align-items: center;
     justify-content: space-between;
}

.textLanding {
     line-height: 1.25;
}

.quoteSection {
     padding-bottom: 5rem;
}

.consultSection {
     background: url('/assets/images/blueCircle.png') no-repeat,
          url('/assets/images/blueCircle.png') no-repeat,
          white;
     background-position: 90% 10%,
          45% 50%,
          center center;
     background-size: 250px,
          200px,
          cover;
     padding-bottom: 5rem;
}

.articleSection {
     background: url('/assets/images/blueCircle.png') no-repeat,
          url('/assets/images/blueCircle.png') no-repeat,
          linear-gradient(to bottom, white 10%, rgba(166, 207, 255, 0.2),
               rgb(91, 166, 255),
               rgb(39, 138, 255)),
          white;
     background-position: -5% 0%, 100% 0%, center center, center center;
     background-size: 250px, 350px, cover, cover;
     padding-top: 5rem;
     padding-bottom: 2.5rem;
}

.meditationSection {
     background: url('/assets/images/dividerTopBlue.png') no-repeat,
          rgb(39, 138, 255);
     background-size: 115%,
          cover;
     background-position: center 101%,
          center center;
     padding-bottom: 13rem;
     padding-top: 1.25rem;
}