.contentWrapper {
     background: url('/assets/images/blueCircle.png') no-repeat,
          url('/assets/images/blueCircle.png') no-repeat;
     background-size: 300px,
          350px;
     background-position: 75% 80%,
          -5% 95%;
}

.title {
     font-size: 36px;
     font-weight: bold;
}

.moreTitle {
     font-size: 24px;
     font-weight: bold;
}

.moreHeight {
     line-height: 2rem;
     max-height: 4rem;
     overflow: hidden;
}

.imageComment {
     border-radius: 50% !important;
     width: 50px;
     height: 50px;
}

.nameComment {
     font-size: 18px;
     font-weight: bold;
}