.subHeader {
     background: #278AFF;
     height: 45vh;
     min-height: 45vh;
}

.contentWrapper {
     background: url('/assets/images/blueCircle.png') no-repeat,
          url('/assets/images/blueCircle.png') no-repeat;
     background-size: 300px,
          350px;
     background-position: 95% 20%,
          -5% 95%;
}

.content {
     margin-top: -7rem;
}